/*?FONT STYLE*/
@font-face {
  font-family: bonaNova;
  src: url(../fonts/BonaNovaSC-Regular.ttf); }

/*!---Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*! GRID HEADER*/
header section nav {
  z-index: 2; }

header .grid-header__login {
  display: none; }

.grid-header {
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 0.5fr;
  grid-template-areas: "logo h1 login" "logo h2 ." "menu menu menu";
  gap: 10px;
  background-color: black;
  font-family: bonaNova;
  margin: 0 auto; }

.grid-header__logo {
  grid-area: logo;
  grid-row: 1/3; }

.grid-header__logo img {
  width: 200px;
  height: 200px; }

.grid-header__h1 {
  grid-area: h1;
  color: white;
  text-align: center; }

.grid-header__h2 {
  grid-area: h2;
  color: white;
  text-align: center; }

.grid-header__login {
  grid-area: login;
  text-align: end;
  color: white; }

.grid-header__login p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  border: 5px solid white;
  border-radius: 10px;
  display: inline-block; }

.grid-header__login:hover {
  background-color: grey; }

.grid-header__nav {
  grid-area: menu; }

.grid-arica-parinacota, .grid-tarapaca, .grid-antofagasta {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 0.3fr repeat(6, 1fr) 0.3fr;
  grid-template-rows: 50px 50px 1fr;
  grid-template-areas: ". region region . . . . ." ". Tpres . Tsecr . Tteso . ." ". Ipres Ppres Isecr Psecr Iteso Pteso .";
  gap: 10px;
  margin: 75px 0 50px 0; }
  .grid-arica-parinacota img, .grid-tarapaca img, .grid-antofagasta img {
    width: 250px;
    height: 250px;
    display: flex;
    margin: 0 auto; }
  .grid-arica-parinacota h4, .grid-tarapaca h4, .grid-antofagasta h4 {
    text-align: center; }

.grid-arica-parinacota__tituloH3, .grid-tarapaca__tituloH3, .grid-antofagasta__tituloH3 {
  grid-area: region; }

.grid-arica-parinacota__titulo-presidente, .grid-tarapaca__titulo-presidente, .grid-antofagasta__titulo-presidente {
  grid-area: Tpres; }

.grid-arica-parinacota__img-presidente, .grid-tarapaca__img-presidente, .grid-antofagasta__img-presidente {
  grid-area: Ipres; }

.grid-arica-parinacota__parrafo-presidente, .grid-tarapaca__parrafo-presidente, .grid-antofagasta__parrafo-presidente {
  grid-area: Ppres; }

.grid-arica-parinacota__titulo-secretario, .grid-tarapaca__titulo-secretario, .grid-antofagasta__titulo-secretario {
  grid-area: Tsecr; }

.grid-arica-parinacota__img-secretario, .grid-tarapaca__img-secretario, .grid-antofagasta__img-secretario {
  grid-area: Isecr; }

.grid-arica-parinacota__parrafo-secretario, .grid-tarapaca__parrafo-secretario, .grid-antofagasta__parrafo-secretario {
  grid-area: Psecr; }

.grid-arica-parinacota__titulo-tesorero, .grid-tarapaca__titulo-tesorero, .grid-antofagasta__titulo-tesorero {
  grid-area: Tteso; }

.grid-arica-parinacota__img-tesorero, .grid-tarapaca__img-tesorero, .grid-antofagasta__img-tesorero {
  grid-area: Iteso; }

.grid-arica-parinacota__parrafo-tesorero, .grid-tarapaca__parrafo-tesorero, .grid-antofagasta__parrafo-tesorero {
  grid-area: Pteso; }

/*!OPERACIONES NOTICIAS*/
.grid-noticias-prim, .grid-noticias-Segu, .grid-noticias-Terc {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 0.2fr 1fr 0.5fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: ". titulo . . ." ". parrafo . imagen .";
  gap: 10px;
  margin: 15px 0 20px 0; }

.grid-noticias-prim .item-noticias__Titulo, .grid-noticias-Segu .item-noticias__Titulo, .grid-noticias-Terc .item-noticias__Titulo {
  grid-area: titulo; }

.grid-noticias-prim .item-noticias__Parrafo, .grid-noticias-Segu .item-noticias__Parrafo, .grid-noticias-Terc .item-noticias__Parrafo {
  grid-area: parrafo; }

.grid-noticias-prim .item-noticias__Imagen, .grid-noticias-Segu .item-noticias__Imagen, .grid-noticias-Terc .item-noticias__Imagen {
  grid-area: imagen; }

/*!---INDEX---*/
.carrusel {
  margin: 15px 0 15px 0; }

.grid-main {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 0.2fr repeat(4, 1fr) 0.2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". not1 not2 not3 not4 ." ". icons icons icons icons.";
  grid-gap: 10px;
  text-align: center; }

.grid-main__not1 {
  grid-area: not1; }

.grid-main__not2 {
  grid-area: not2; }

.grid-main__not3 {
  grid-area: not3; }

.grid-main__not4 {
  grid-area: not4; }

.grid-main__iconos {
  grid-area: icons;
  grid-column: 2/6;
  display: flex;
  justify-content: space-evenly; }

.grid-main img {
  width: 300px;
  height: 300px; }

.grid-main__iconos img {
  width: 100px;
  height: 100px; }

.grid-mision-vision {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 25px auto 50px 25px auto;
  grid-template-areas: ". Tmisi imgM . " ". txtM imgM ." " . . . . " ". imgV Tvisi . " ". imgV txtV .";
  gap: 10px;
  margin: 35px 0 150px 0; }
  .grid-mision-vision img {
    width: 100%;
    height: 300px; }

.grid-mision-vision__titulo-mision {
  grid-area: Tmisi; }

.grid-mision-vision__txt-mision {
  grid-area: txtM; }

.grid-mision-vision__img-mision {
  grid-area: imgM;
  grid-row: 1/3; }

.grid-mision-vision__titulo-vision {
  grid-area: Tvisi; }

.grid-mision-vision__txt-vision {
  grid-area: txtV; }

.grid-mision-vision__img-vision {
  grid-area: imgV;
  grid-row: 4/6; }

/*!GRID DIRECTIVA*/
.grid-directiva {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 0.2fr repeat(4, 1fr) 0.2fr;
  grid-template-rows: 50px 50px auto auto;
  grid-template-areas: ". titulo titulo titulo titulo ." ". Tpres Tsecr Tteso Tsecra." ". Ipres Isecr Iteso Isecra." ". Ppres Psecr Pteso Psecra.";
  gap: 10px;
  margin: 0 0 100px 0; }
  .grid-directiva img {
    width: 150px;
    height: 150px;
    display: flex;
    margin: 0 auto; }
  .grid-directiva h3 {
    text-align: center; }

.grid-directiva__titulo {
  grid-area: titulo;
  text-align: center; }

.grid-directiva__presidente {
  grid-area: Tpres; }

.grid-directiva__presidente-img {
  grid-area: Ipres; }

.grid-directiva__presidente-txt {
  grid-area: Ppres; }

.grid-directiva__secretario {
  grid-area: Tsecr; }

.grid-directiva__secretario-img {
  grid-area: Isecr; }

.grid-directiva__secretario-txt {
  grid-area: Psecr; }

.grid-directiva__tesorero {
  grid-area: Tteso; }

.grid-directiva__tesorero-img {
  grid-area: Iteso; }

.grid-directiva__tesorero-txt {
  grid-area: Pteso; }

.grid-directiva__secretaria {
  grid-area: Tsecra; }

.grid-directiva__secretaria-img {
  grid-area: Isecra; }

.grid-directiva__secretaria-txt {
  grid-area: Psecra; }

/*!grid TARAPACA */
/*!grid ANTOFAGASTA*/
.main-noticias img {
  width: 500px;
  height: 300px; }

.main-noticias h3 {
  font-family: BonaNavy; }

/*!INCORPORACIONES*/
.grid-beneficios {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: ". titulo ." ". parrafo .";
  gap: 10px;
  margin: 30px 0 50px 0; }

.grid-beneficios__Titulo {
  grid-area: titulo;
  font-family: bonaNavy; }

.grid-beneficios__Informacion {
  grid-area: parrafo; }

.grid-incorporaciones {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 50px 1fr auto;
  grid-template-areas: ". titulo ." ". parrafo ." ". formulario .";
  gap: 10px;
  margin: 0 0 60px 0; }

.grid-incorporaciones__Titulo {
  grid-area: titulo;
  font-family: bonaNavy; }

.grid-incorporaciones__Parrafo {
  grid-area: parrafo; }

.grid-incorporaciones__Formulario {
  grid-area: formulario;
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin: 0 auto; }

input[type="text"] {
  width: 500px;
  margin: 0 0 10px 0; }

input[type="email"] {
  width: 500px;
  margin: 0 0 10px 0; }

textarea {
  width: 500px;
  height: 300px; }

.grid-footer {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: 0.2fr repeat(4, 1fr) 0.2fr;
  grid-template-rows: 0.45fr 1fr 0.45fr;
  grid-template-areas: ". datCont . . . ." ". datCont direccion horarios rrss ." ". . . . . .";
  gap: 5px;
  background-color: black;
  color: white;
  text-align: center;
  font-family: banaNova; }

.grid-footer__datCont {
  grid-area: datCont; }

.grid-footer__direccion {
  grid-area: direccion; }

.grid-footer__horario {
  grid-area: horarios; }

.grid-footer__rrss {
  grid-area: rrss; }
