/*!INCORPORACIONES*/

.grid-beneficios{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    ". titulo ."
    ". parrafo .";

    gap: 10px;
    margin: 30px 0 50px 0;
    
}

.grid-beneficios__Titulo{
    grid-area: titulo;
    font-family: bonaNavy;
}

.grid-beneficios__Informacion{
    grid-area: parrafo;
}


.grid-incorporaciones{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 1fr auto;
    grid-template-areas: 
    ". titulo ."
    ". parrafo ."
    ". formulario .";
    gap: 10px;

    margin: 0 0 60px 0;
}

.grid-incorporaciones__Titulo{
    grid-area: titulo;
    font-family: bonaNavy;
    
}

.grid-incorporaciones__Parrafo{
    grid-area: parrafo;
}

.grid-incorporaciones__Formulario{
    grid-area: formulario;
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin: 0 auto;
}

input[type="text"]{
    width: 500px;
    margin: 0 0 10px 0;
}

input[type="email"]{
    width: 500px;
    margin: 0 0 10px 0;
}

textarea{
    width: 500px;
    height: 300px;
}