/*?FONT STYLE*/
@font-face{
    font-family: bonaNova;
    src: url(../fonts/BonaNovaSC-Regular.ttf);
}


/*!---Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


input[type="text"]{
    width: 500px;
    margin: 0 0 10px 0;
}

input[type="email"]{
    width: 500px;
    margin: 0 0 10px 0;
}

input[type="number"]{
    width: 500px;
    margin: 0 0 10px 0;
}

textarea{
    width: 500px;
    height: 300px;
}

